body {
  color: rgb(65,75,86);
  font-family: Playfair Display;



}

h1, h2,h3 {
  text-align: center;
  margin: 10px 10px;
  padding: 20px 20px;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2.0em;
}

h3 {
font-size: 1.5em;

}

h4 {
  font-size: 1.2em;
}

.header {
  width: 100%;
  height: 5em;
  display: block;
  background-color:#10101010
}

.img-fluid {
  padding: 0.5em;
}

img.d-block
{
  display: flex;
  margin: 0px auto;
  padding: 0px;
  border-radius: 130px;
}



ul.navbar-nav {
  list-style: none;
  display: flex;
}

li.nav-item {
  margin: 0 20px;
  transition: 0.6s ease;
}
/* Getting snazzy... */
.nav-item:hover {
}

/*Maps styling*/
.map-container{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container iframe{
left:0;
top:0;
height:100%;
width:100%;
position: absolute;
}
/*Maps styling*/

/*Input elemnts styling*/
input[type=text], select, textarea{
  width: 40%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  float: none;

}
input[type=submit] {
  background-color: red;
  color: white;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  float: none;


}
/*Input elemnts styling*/



.contact-list{
  box-sizing: border-box;
}
li.contact-list
{
  display: list-item;
  text-align: left;
  list-style: none;
  margin: 10px 10px;
  padding:10px 10px;

}

 .contact-page{
  text-align: left;
  margin: 0px 0px;
  padding: 0px 0px;
}
div.sign-up{
  text-align: center;
  margin: 50px 50px;
  padding: 50px 50px;
}

#newsletter{
margin: 20px 20px;
padding: 20px 20px;
}

#enquiries{
  margin: 20px 20px;
  padding: 0px 0px;
}

#container-footer{
  color:white;
  background-color:black;
}

ul{
  list-style-type: none;
  text-align: center;
  margin: 0px 0px;
  padding: 10px 10px;
}

#follow-us{
text-align: right;
margin: 0px 0px;
padding: 20px 20px;
}

#paragraph{
  margin: 0px 20px 20px 20px;
  padding: 10px 10px;
  text-align: center;
  font-size: 20px;
}

#structure{
  margin:0px 20px;
  padding: 20px 20px;
  font-size: 20px;
  text-align: center;
}

#structure2{
  margin:20px 20px;
  padding: 20px 20px;
  font-size: 20px;
}

#structure3{
  margin:20px 20px;
  padding: 20px 20px;
  font-size: 20px;
}

#structure4{
  margin:20px 20px;
  padding: 10px 10px;
  font-size: 20px;

}
#structure5{
  margin:20px 20px;
  padding: 10px 10px;
  font-size: 20px;

}

#structure6{
  margin:20px 20px;
  padding: 10px 10px;
  font-size: 20px;

}
/*  Hove effect */

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  /* text-align: center; */
  cursor: default;
}

.hovereffect .overlay {
  width: 97%;
  height: 95.5%;
  position: absolute;
  overflow: hidden;
  top: .5em;
  left: .5em;
  /* background-color: rgba(75,75,75,0.7); */
  -webkit-transition: all 0.4s  cubic-bezier(0.88,-0.99, 0, 1.81);
  transition: all 0.4s  cubic-bezier(0.88,-0.99, 0, 1.81);
}

.hovereffect:hover .overlay {
  background-color: rgba(48, 152, 157, 0.4);
}

.hovereffect img {
  display: block;
  position: relative;
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 1.5em;
  padding: 1em;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transform: translateY(6em);
  -ms-transform: translateY(6em);
  transform: translateY(6em);
  -webkit-transition: all 0.4s  cubic-bezier(0.88,-0.99, 0, 1.81);
  transition: all 0.4s  cubic-bezier(0.88,-0.99, 0, 1.81);
}

.hovereffect:hover h2 {
  -webkit-transform: translateY(.5em);
  -ms-transform: translateY(.5em);
  transform: translateY(.5em);
}

.hovereffect a.info {
  /* width: 100%; */
  font-size: 1.5em;
  text-align: left;
  display: inline-block;
  text-decoration: none;
  /* padding: .6em 1em; */
  /* text-transform: uppercase; */
  color: #fff;
  border: 0.1em solid #fff;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s  cubic-bezier(0.88,-0.99, 0, 1.81);
  transition: all 0.4s  cubic-bezier(0.88,-0.99, 0, 1.81);
  font-weight: normal;
  margin: 0 0 0 0;
  padding: 5% 5%;
}

.hovereffect:hover a.info {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(.8);
  -ms-transform: scale(.8);
  transform: scale(.8);
  box-shadow: 0 0 0em #fff;
}

/* .hovereffect a.info:hover {
  box-shadow: 0 0 0em #fff;
} */
